.modal {
  display: none; /* За замовчуванням приховуємо модальне вікно */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.open {
  display: flex; /* Показуємо модальне вікно тільки якщо клас open додано */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.auth-tabs button {
  margin: 5px;
}

.auth-tabs .active {
  font-weight: bold;
  text-decoration: underline;
}

.cabinet { 
  cursor: pointer;
  border: solid 3px violet;
  background-color: lightpink;
  z-index: 1001;
}



.popup {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: blue;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}